#header{
    font-family: Arial, Helvetica, sans-serif;
    font-style: arial;
    background-image: url(../img/fondito.jpg);
}
.h1{
    font-style: arial;
    position: relative;
    left: 30%;
    font-size: 1,5rem;
}
#nav{
    position: relative;
    left: 35%;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #dae0d7;
}
#nav ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#nav ul li{
    display: inline-block;
}

#nav ul li a{
    display: block;
    color: #5b678c;
    padding: 1rem 1rem;
    text-decoration: none;
}
#nav ul li a:hover{
    background-color: #faa97d;
}
#main{
    position: relative;
    background-image: url(../img/quebec-1920x1080-4k-hd-wallpaper-st-ferdinand-canada-pink-sunrise-850.jpg); height: 1000px; width: cover; 
    background-repeat: repeat;
    bottom: 3.5rem;
}
.h2{
position: relative;
top: 5rem;
left: 35%;
    font-size: 4rem;
    color: white;
}
.texto{
    display: flex;
    position: relative;
    top: 10rem;
    font-style: italic;
    color:white;
    font-size: 2rem;
}
#footer{
    display: flexbox;
    position: relative;
    padding: 0;
    margin: 0;
    color: black;
    font-size: 1rem;
    font-style: arial;
    background-color:#a3b3ac;
    bottom: 3.5rem;
}
.terminos{
    display: inline-block;
    background-color: none;
    padding: 2rem;
    margin: 2rem;
    position: relative;
    left: 25%;
    font-style: arial;
    font-size: 1.5rem;
}
.atencion{
background-color: none;
    display: block;
    height: 10rem;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    font-size: 1.5rem;
    font-style: arial;
    left: 15%;
    bottom: 0.15rem;
}

.redes{
    background-color: none;
    display: block;
    height: 10rem;
    width: 20rem;
    position: relative;
    left: 60%;
    bottom: 25.5rem;
    font-size: 1.5rem;
    font-style: arial;
}

