#mainperso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media (min-width:320px){

    #mainperso .segurosp{
        font-size: 2rem;
    }
}
@media (min-width:1024px){
    #mainperso{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3,1fr);
    }
    #mainperso .segurosp{
        display: flex;
        justify-content: center;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    #mainperso .fotocasa{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #mainperso .accidente{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #mainperso .educativo{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #mainperso .deretiro{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
   
}

.segurosp{
    display: flexbox;
    font-size: 3rem;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: $color-principal;
    border-radius: 10px;
}
.fotocasa{
    @include cuadrado;
}
.accidente{
    @include cuadrado;
}
#mainperso .acs{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#mainperso .h3s{
text-align:center
}
.educativo{
    @include cuadrado;
}
.deretiro{
    @include cuadrado;
    
}